<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><% if @task.completed == false %>
      <%= "Not completed yet" %>
    <% else %>
      <%= "Completed" %>
    <% end %>

</p>

<p><%= link_to "Edit task", edit_task_path %></p>

<p><%= link_to "Back to tasks", tasks_path %></p>